<h1>Products#show</h1>
<%= link_to "New and upcomming products", "/products/new" %>



<p>
	<%= @product[:name] %>
	<%= @product[:description] %>
	<%= @product.formatted_price %>
</p>

#Find me in app/views/products/show.html.erb